* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #20374b;
    font-weight: bold;
}

.container{
  display: flex;
  flex-direction: row;
}

.img1{
  height: 500px;
  width: 700px;
  margin-bottom: 5em;
  margin-top: 5em;
  margin-left: 3em;
  border-radius: 15px;
}

.board{
  border: solid 3px;
  border-color: #fff;
  width: 100%;
  margin: 6em 18em 6em 8em;
  border-radius: 5px;
  padding-top: 20px;
}

.select1, .select2, .select3, 
.select4, .select5, .select6, .select7{
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 5em;
}
.Valider{
  margin-left: 30em;
  margin-bottom: 10px;
  background-color: #fff;
  height: 50px;
  width: 70px;
}

.reset{
  margin-left: 10em;
  margin-bottom: 10px;
  background-color: #fff;
  height: 50px;
  width: 70px;
}

.Valider:active, .reset:active{
  background-color: bisque  ;
}

.green{
 background-color: green;
 transition: ease-in-out 0.5s;
}

.red{
  transition: ease-in-out 0.5s;
  background-color: red;
}

.top-select{
  margin-left: 4em;
}

.container-img {
  background-color: #002533;
}

.img2 {
  background: none;
  height: 40px;
  width: 300px;
  margin: 1.8em; /* Ajusté pour éviter l'espacement vertical */
}

.container-img {
  display: flex;
  align-items: center; /* Aligne verticalement le logo et la navbar */
  justify-content: space-between;
}

ul {
  background: none;
  display: flex;
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.nav-ul {
  display: flex; /* Flex pour aligner horizontalement les éléments */
}

li {
  margin: 0 1.4em; /* Marge horizontale entre les éléments */
}

a {
  background: none;
  display: flex;
  align-items: center; 
  font-family: sans-serif;
  text-transform: uppercase;
  color: #FEFEFE;
  background-color: #fcc220;
  font-size: 2vh;
  padding: 0.5em 1em; 
  border-radius: 5px;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

a:hover {
  color: #fcc220;
  background-color: #FEFEFE;
}
