* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
background-color: #20374b;
}

.container {
  display: flex;
  justify-content: space-around; /* Garde les éléments espacés horizontalement */
  align-items: center; /* Centrer verticalement */
  flex-wrap: wrap; /* Permet aux éléments de se placer en dessous quand l'espace devient trop petit */
  background-color: none;
  width: 100%;
}

.img1 {
  height: 400px;
  width: 600px;
  margin: 3em 2em;
  border-radius: 15px;
  border: 3px solid #FEFEFE;
  flex-shrink: 0; /* Empêche l'image de rétrécir quand l'écran est plus petit */
}

.board {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes pour les selects */
  grid-gap: 1em;
  grid-auto-rows: minmax(59px, auto);
  border-radius: 25px;
  background: #20374b;
  box-shadow: 7px 7px 4px #111d28, -7px -7px 4px #2f516e;
  padding: 2em;
  border: 3px solid #83a6c5;
  width: 40%; /* Taille de la zone des selects, ajustable */
  min-width: 200px; /* Empêche la réduction excessive */
  margin: 5em 0;
}

.nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1em; 
  background-color: #002533; 
}

/* Styles par défaut */
.img2 {
  max-width: auto; /* Taille par défaut adaptée pour la navbar */
  height: auto; /* Conserve les proportions */
  background-color: #002533;
}

.select1, .select2, .select3, 
.select4, .select5, .select6, .select7 {
  padding: 0.9em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  background-color: #fcc220;
  color: #FEFEFE;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.2s;
}

.Valider{
  margin-left: 3em;
  margin-bottom: 10px;
  background-color: #fff;
  height: 50px;
  width: 70px;
}

.reset{
  margin-left: 3em;
  margin-bottom: 10px;
  background-color: #fff;
  height: 50px;
  width: 70px;
}

.Valider:active, .reset:active{
  background-color: bisque  ;
}

.green{
 background-color: green;
 transition: ease-in-out 0.3s;
}

.red{
  transition: ease-in-out 0.3s;
  background-color: red;
}

.img2 {
  height: 40px;
  width: 300px;
  margin: 0.5em; 
}

.head{
  background-color: #330014;
}

ul {
  background: none;
  display: flex;
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.nav-ul {
  display: flex; 
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

li {
  margin: 0 1em; 
  background-color: #002533;
}

.Download{
  display: flex;
  align-items: center; 
  font-family: sans-serif;
  text-transform: uppercase;
  color: #FEFEFE;
  background-color: #002533;
  border: 2px solid #FEFEFE;
  font-size: 1.6vh;
  padding: 7px 14px;
  border-radius: 5px; 
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

.Download:hover{
  color: #002533; 
  background-color: #FEFEFE; 
}

.a{
  display: flex;
  align-items: center; 
  font-family: sans-serif;
  text-transform: uppercase;
  color: #FEFEFE;
  background-color: #fcc220;
  font-size: 1.7vh;
  padding: 7px 14px;
  border-radius: 5px; 
  border: 2px solid #FEFEFE;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

.a:hover{
  color: #fcc220; 
  background-color: #FEFEFE; 
}

@media only screen and (max-width: 1183px) {
  .container {
    flex-direction: column; /* Passe en colonne pour les petits écrans */
    align-items: center;
  }
  
  .img1 {
    width: 90%; /* L'image principale prend 90% de la largeur disponible */
    height: auto; /* Conserve les proportions */
  }

  .board {
    width: 55%; /* Le formulaire prend 90% de la largeur disponible */
  }

  /* Rendre l'image du logo plus petite sur les écrans réduits */
  .img2 {
    max-width: 60%; /* Ajuste la taille pour les petits écrans */
    height: auto;
  }
}

@media only screen and (max-width: 840px) {
  .board {
    grid-template-columns: 0fr; /* Une seule colonne pour les selects sur les petits écrans */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .img1 {
    width: 80%; /* Réduit encore la taille de l'image principale */
  }

  /* Encore plus petite pour les très petits écrans */
  .img2 {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #002533;
}
}

@media only screen and (max-width: 510px) {
  
  .nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 1em; 
  background-color: #002533; 
}

li {
  margin: 0 0em; 
  background-color: #002533;
}

.a{
  font-family: sans-serif;
  text-transform: uppercase;
  color: #FEFEFE;
  background-color: #fcc220;
  font-size: 1.2vh;
  padding: 4px 8px;
  border-radius: 5px; 
  margin: 5px;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

.Download{
  font-family: sans-serif;
  text-transform: uppercase;
  color: #FEFEFE;
  background-color: #002533;
  border: 2px solid #FEFEFE;
  font-size: 1.2vh;
  margin: 5px;
  padding: 4px 8px;
  border-radius: 5px; 
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

.img1 {
  margin: 2em; 
}

.board{
  display: flex;
  flex-direction: column;
  width:80%;
  margin-top: 0em;
}

}